<div id="wrapper">

    
    <div id="searchContainer">
        <h1>People Search</h1>
        <div id="inputAndButton">
            <input id="inputField" v-model="searchText" v-on:keyup.enter="delayedLoad()" />
            <button id ="btn"  v-on:click="delayedLoad()">SEARCH</button>
        </div>        
        <div id="loadingIcon" v-show="loading">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
        
    
    <div id="noSearchResults" v-show="!loading && personsDisplay.length === 0">
        No search result found
    </div>
    <div id="tableContainer" v-show="!loading && personsDisplay.length > 0">

        <table id="table1">
            <tr>
                <th></th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>CITY</th>
                <th>AGE</th>
                <th>INTERESTS</th>

            </tr>
            <tr id="tableItems" v-for="(person, index) in personsDisplay">
                <td>
                    <img :src="getPic(person)" v-bind:alt="pic" class="pic" />
                </td>
                <td>
                    {{person.LastName}}
                </td>
                <td>
                    {{person.FirstName}}
                </td>
                <td>
                    {{person.Address}}
                </td>
                <td>
                    {{person.Age}}
                </td>
                <td>
                    {{person.Interests}}
                </td>
            </tr>

        </table>
    </div>
</div>

<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/app.js"></script>
